* {
  background-color: rgba(255, 81, 0, 0.507);
  margin: 0px;
}
.app-container {
  padding: 15px;
}
.title {
  font-size: 30px;
  font-family: "Bree Serif";
  font-weight: bold;
  margin: 17px;
  color:rgb(0, 128, 128);
  background-color: rgb(220, 20, 20);
  text-decoration:  rgb(0, 255, 136);
  text-align: center;
}
.nav-container {
  margin-top: 15px;
}
.create-task-heading {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
}
.form-container {
  padding: 25px;
  padding-top: 10px;
  background-color: #d0ff00;
}
.input-label-container {
  display: flex;
  background-color: rgba(42, 165, 93, 0.753);
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 40px;
  align:center;
}
input {
  width: 50%;
  margin-top: 5px;
  height: 25px;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  border: 1px solid rgb(128, 128, 128);
  font-family: "Roboto";
}
textarea {
  width: 50%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  outline: none;
  border: gray 300;
  font-family: "Roboto";
}
.save-btn {
  width: 80px;
  height: 28px;
  border: none;
  border-radius: 5px;
  color: aliceblue;
  background-color: rgba(0, 255, 136, 0);
  cursor: pointer;
  font-weight: 400;
}
.error-msg {
  color: rgb(10, 252, 159);
  margin-top: 5px;
  font-size: 13px;
  background-color: rgb(255, 0, 242);
  font-family: "Roboto";
}
.projects-container {
  display: flex;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}
